.app {
  font-family: sans-serif;
  margin-top: 1rem;
  border-top: 1px solid #ccc;
}

.item {
  border-bottom: 1px solid #ccc;
}

.itemBtn {
  font-family: 'Space Mono', monospace;
  cursor: none;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: var(--step-2);
  padding: 1rem;
  text-align: left;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.itemBtn:hover {
  background-color: #0000006b;
}

.itemBtnExpanded {
  font-weight: bold;
}

.itemContent {
  transition: height 0.25s ease-in-out;
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}

.accordionText {
  max-width: 50%;
  font-family: 'Space Mono', monospace;
}
.itemsCont {
  font-size: var(--step-1);
  gap: 10vmin;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background: #fff;
  z-index: 9;
}
.itemsCont > img {
  cursor: url('../../Assets/Images/visit-page-text.png'), pointer !important;
  height: 35vmin;
  width: 40%;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .itemsCont > img {
    display: none;
  }
  .accordionText {
    max-width: unset;
  }
}
