.cont {
  padding-inline: var(--inline-padding);
  margin-top: 10vmin;
}
.heroCont {
  align-self: center;
  display: flex;
  justify-content: space-around;
}
.globePosition {
  background: transparent;
  width: fit-content;
}
@media screen and (max-width: 1000px) {
  .cont {
    scroll-padding: 140px;
    padding-top: 140px;
  }
  .globePosition {
    display: none;
  }
}
.heroText > span {
  width: fit-content;
  font-size: var(--step-5);
  font-weight: bold;
  font-family: Abang;
  mix-blend-mode: normal;
  background: linear-gradient(
    to right,
    var(--color-primary) 20%,
    white 30%,
    var(--color-secondary) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
  z-index: 99;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.heroText {
  width: fit-content;
  font-size: var(--step-5);
  font-weight: bold;
  font-family: Abang;

  z-index: 99;
}

.textCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6vmin;
}
/* WHY US */
.whyUs {
  display: flex;
  flex-direction: column;
  gap: 6vmin;
}
.whyUsText {
  font-family: 'Space Mono', monospace;
  width: fit-content;
  line-height: 3rem;
  font-size: var(--step-4);
  font-weight: 600;
  color: var(--color-primary);
}
.whyUsText:nth-child(2) {
  padding-bottom: 1rem;
}
.whyUsItemsCont {
  display: flex;
  gap: 4vmin;
  padding-bottom: 10%;
}

@media screen and (max-width: 1000px) {
  .whyUsItemsCont {
    flex-direction: column;
  }
}
.squareAnim > .title {
  font-family: 'Space Mono', monospace;

  line-height: 2vmin;

  padding-top: 5vmin;
  font-weight: bolder;
}
.squareAnim > p {
  line-height: 3.5vmin;
  font-family: 'Space Mono', monospace;

  font-size: var(--step--1);
}

/* BELIEF  */
.belief {
  height: 100svh;
  width: 100%;
  background: rgb(255, 255, 255);
  mix-blend-mode: difference;
  border-radius: 10px;
  position: relative;
}
.separator {
  font-size: var(--step-1);
  background: linear-gradient(
    to right,
    rgb(255, 79, 79) 20%,
    rgb(0, 0, 0) 30%,
    rgb(182, 111, 111) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 3s ease-in-out infinite alternate;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 15vmin;
  padding-inline: 25vmin;

  font-family: 'Space Mono', monospace;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
@media screen and (max-width: 1000px) {
  .separator {
    display: none;
  }
  .beliefTitle {
    padding-inline: 5vmin !important;
  }
  .belief p {
    padding-inline: 5vmin !important;
  }
}
.belief p {
  font-family: 'Space Mono', monospace;
  font-size: var(--step--1);
  padding-top: 5vmin;
  padding-inline: 45vmin;
  text-align: center;
}
.beliefTitle {
  font-size: var(--step-4);
  padding-top: 15vmin;
  padding-inline: 25vmin;
  text-align: center;
  font-weight: 600;
}
.beliefTitle > .thin {
  font-size: var(--step-4);
  font-style: italic;
  font-weight: 300;
}
.beliefTitle > .hollow {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-weight: 700;
}
