.contact {
  height: 100vh;
  width: 100%;
}
.contactCont > img {
  max-height: 81vmin;
  width: 50%;
}

.contactCont {
  display: flex;
}
.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 10vmin;
  font-family: "Space Mono", monospace;
  color: #000000;
  text-transform: uppercase;
  font-size: var(--step-4);
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 100%;
}

/* Begin Right Contact Page */
.direct-contact-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
}

.list-item {
  line-height: 2;
  color: #aaa;
}

.contact-text {
  font: 300 "Lato", sans-serif;
  font-size: 1.5rem;
  color: #000000;
}

.contact-text a {
  cursor: none;
  font-size: var(--step-0);
  color: #555555;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 1000px) {
  .contactCont > img {
    display: none !important;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    align-items: center;
  }
  .direct-contact-container {
    margin: 0 !important;
  }
}
